// https://eduardoboucas.github.io/include-media/#features
@import 'include-media/dist/include-media';

$breakpoints: (
    'phone': 320px,
    'tablet': 768px,
    'desktop': 1080px,
    'wide': 2048px,
    'ultrawide': 3040px
);


@include media("<tablet") {
  .cv-window--component {
    width: 100%;
  }
}

@include media(">=tablet", "<desktop") {
  .cv-window--component {
    width: 70%;
  }
}

@include media(">=desktop", "<wide") {
  .cv-window--component {
    width: 50%;
  }
}

@include media(">=wide") {
  .cv-window--component {
    width: 40%;
  }
}
