img {
  max-width: 100%;
}


.foreground-element {
  z-index: 99999;
}

.background-element {
  z-index: 0;
}

@mixin heading($hSize) {
  font-size: $hSize;
  font-weight: bolder;
  padding: calc($hSize / 2) 0;
}

.markdown-content {

  // https://tailwindcss. com/docs/font-size
  h1 {
    @include heading(1.5rem);
  }

  h2 {
    @include heading(1.25rem);
  }

  h3 {
    @include heading(1.125rem);
  }

  h4 {
    @include heading(1rem);
  }

  h5 {
    @include heading(0.875rem);
  }

  h6 {
    @include heading(0.75rem);
  }

  ul, ol {
    margin-left: 1em;
  }

  ul ul {
    margin-left: 2em;
  }

  ul ul ul {
    margin-left: 3em;
  }

  ul, li {
    list-style-type: '• ';
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic !important;
  }

  img {
    padding: 1em;
  }

  p {
    padding-bottom: 1em;
  }

  // remove the padding of all p tags of list items with a p tag
  li:has(> p) p{
    padding-bottom: 0;
  }
}